{% extends "core/base.html" %}
{% load static %}
{% block content %}

<div class="flex flex-col items-center min-h-[80vh] mt-[-50px] py-10">
    <div class="bg-amber-200 rounded-xl p-5 ">
        <div class="text-center">
            <h2 class="text-4xl font-semibold mb-8">Login</h2>
        </div>
        <hr>
        <form method="post" class="flex flex-col space-y-6 w-full max-w-sm">
            {% csrf_token %}

            <div class="flex flex-col w-full">
                <label for="usuario" class="mb-2 text-lg font-semibold">Usuário</label>
                <input id="usuario" name="username" type="text"
                    class="border border-black rounded-2xl p-2 w-64 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    required>
            </div>

            <div class="flex flex-col w-full">
                <label for="senha" class="mb-2 text-lg font-semibold">Senha</label>
                <input id="senha" name="password" type="password"
                    class="border border-black rounded-2xl p-2 w-64 focus:outline-none focus:ring-2 focus:ring-blue-500"
                    required>
            </div>

            <div class="flex flex-col">
                <button
                    class="bg-blue-600 hover:bg-blue-700 text-white font-semibold py-2 px-6 rounded-2xl transition-colors"
                    type="submit">
                    Entrar
                </button>
                <div class="text-center my-3">
                    <a href="{% url 'signup' %}" class="px-1 text-blue-600 hover:underline font-medium" style="text-decoration: none;">Cadastrar</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}